<!--
Organisation: University College London
# Module: Application Programming for Data Science
# Module Code: COMP0034
# Date: 28/04/2021
# Project: CW 2
# Authors: Rayan Souissi - Youssef Alaoui - Aydan Guliyeva - Ho Yan Or
-->
{% extends 'Layout.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}

    <section class="display-prof">
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src={{searched_profile_url}} alt="User" class="card-img-top" style="width:220px;height:220px;">
                                    <div class="mt-3">
                                        <h3 class="card-text" style="color:#34b7a7;"><i>{{ profile.username }}</i></h3>
                                        <p class="card-text" style="font-weight:350;">{{ profile.age }} y/o<span>| </span>{{ profile.gender }}</p>
                                        <p class="card-text text-muted">{{ profile.bio }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 ">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="card-title">My Posts</h4>
                                <hr>

                                {%for post in posts%}
                                    <a href="{{ url_for('community.get_post', post_id=post.id) }}">
                                        <h4 class="card-text">{{post.title}}</h4></a>
                                    {{post.body}}
                                    <br>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
