<!--
Organisation: University College London
# Module: Application Programming for Data Science
# Module Code: COMP0034
# Date: 28/04/2021
# Project: CW 2
# Authors: Rayan Souissi - Youssef Alaoui - Aydan Guliyeva
-->

{% extends 'Layout.html' %}
{% set title = 'Profile' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <section id="edit-prof">
        <h3>Update your account:</h3>
        <br>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.username, class="form-control") }}
                <br>
                {{ render_field(form.bio, class="form-control") }}
                <br>
                {{ render_field(form.photo, class="custom file", id="input_file") }}
                <br>
                {{ render_field(form.gender) }}
            </dl>
            <center><input class="btn btn-style" type="submit" value="Save" id="save-click"></center>
        </form>
    </section>
{% endblock %}
